@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
/* global styles */

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: floralwhite;
}

ul {
  margin: 0;
  padding: 0;
}

/* header styles */

h1 {
  margin: 0px;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  color: floralwhite;
}

.App header {
  padding: 40px 10px 10px 10px;
  background: teal;
}

/* Nav Styles */

.App nav {
  position: sticky;
  top: 0;
  font-weight: 700;
}
.App nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav ul button {
  font-size: 1em;
  height: 100%;
  width: 100%;
  border: none;
  background: teal;
  color: floralwhite;
  font-weight: 700;
  padding: 5px 0px 5px 0px;
}
.Users {
  grid-column: 1 /4;
}

.UserWelcome {
  background: teal;
  color: floralwhite;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* sort bar styles */
.App .SortBar {
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: teal;
  color: floralwhite;
}

.SortBar h5 {
  padding-top: 5px;
  margin: 0;
}
.SortBar button {
  border: none;
  background: teal;
  color: floralwhite;
  font-weight: 700;
  padding: 5px 0px 5px 0px;
}
/* main styles */
.App main {
  color: teal;
}

.App main h2 {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
}
.App main ul {
  background: floralwhite;
  padding-top: 20px;
  display: grid;
}

/* Article card styles */

.ArticleCard {
  border: 2px solid rgb(216, 117, 11);
  border-radius: 10px;
  margin: 15px 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 50px 1fr;
}

.ArticleCard a {
  color: white;
  text-decoration: none;
  grid-column: 1 / 3;
}
.ArticleCard h3 {
  font-family: 'Oswald';
  font-size: 1.4em;
  letter-spacing: 1px;
  margin: 0;
  padding: 30px 10px 10px 10px;
  background: rgb(216, 117, 11);
}

.ArticleCard p {
  font-weight: bold;
}

.Voter {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Voter .upVote {
  font-size: 1.5em;
  color: teal;
  border: none;
  background: transparent;
}

.Voter .downVote {
  font-size: 2em;
  color: teal;
  border: none;
  background: transparent;
}
