@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* color variables   */

:root {
  --main: rgb(10, 85, 85);
  --background: white;
  --highlight: rgb(216, 117, 11);
}

/* global styles */

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: var(--background);
}
.ArticlesView {
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
}

/* header styles */

h1 {
  margin: 0px;

  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  color: var(--background);
}

.App header {
  padding: 40px 10px 10px 10px;
  background: var(--main);
}

/* Nav Styles */

.App nav {
  position: sticky;
  top: 0;
  font-weight: 700;
  background: var(--main);
  width: 100%;
}
.App nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

nav ul button {
  max-height: 30px;
  font-size: 1em;
  height: 100%;
  width: 100%;
  border: var(--main);
  background: var(--main);
  color: var(--background);
  font-weight: 700;
  padding: 5px 0px 5px 0px;
}

nav ul button:hover {
  color: var(--highlight);
  cursor: pointer;
}
.Users {
  grid-column: 1 /4;
}

.UserWelcome {
  background: var(--main);
  color: var(--background);
  padding-top: 10px;
  padding-bottom: 5px;
}

/* sort bar styles */
.App .SortBar {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: var(--main);
  color: var(--background);
}

.SortBar h5 {
  padding-top: 5px;
  margin: 0;
}
.SortBar button {
  border: none;
  background: var(--main);
  color: var(--background);
  font-weight: 700;
  padding: 5px 0px 5px 0px;
  font-size: 0.9em;
}
.SortBar button :hover {
  cursor: pointer;
}

/* main styles */
.App main {
  color: var(--main);
  padding-bottom: 70vh;
}

.App main ul {
  background: var(--background);
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 6fr) 1fr;
}

/* Article card styles */

.ArticleCard {
  grid-column: 2/3;
  border: 3px solid var(--highlight);
  border-radius: 10px;
  margin: 15px 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 50px 1fr;
  background: var(--background);
}

.ArticleCard a {
  color: var(--background);
  text-decoration: none;
}
.ArticleCard h3 {
  font-family: 'Oswald';
  font-size: 1.4em;
  letter-spacing: 1px;
  margin: 0;
  padding: 30px 10px 10px 10px;
  background: var(--highlight);
}

.ArticleCard p {
  font-weight: bold;
  color: var(--main);
}

.Voter {
  grid-row: 1 /3;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--highlight);
  background: transparent;
  border-right: 3px solid var(--highlight);
}

.Voter .upVote {
  font-size: 1.5em;
  color: var(--highlight);
  border: none;
  background: transparent;
}

.Voter .downVote {
  font-size: 2em;
  color: var(--highlight);
  border: none;
  background: transparent;
}

/* Pagination styles */
.App footer {
  background: var(--main);
  color: var(--background);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  bottom: 0;
  width: 100%;
}

footer button {
  font-size: 1.75em;
  color: var(--background);
  border: none;
  background: transparent;
}
footer button :disabled {
  color: grey;
}

/* single article page style */

.App main .SingleArticle {
  width: minmax(300px 1fr);

  margin: 30px 10px 10px 10px;
  border: 3px solid var(--highlight);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 50px auto;
}
.App main .SingleArticle .Voter {
  grid-column-start: 1;
  border-bottom: 3px solid var(--highlight);
}
.App .SingleArticle h3 {
  grid-column: 2 /3;
  grid-row: 1/3;
  padding: 40px 10px 10px 10px;
  margin: 0;
  background: var(--highlight);
  color: var(--background);
}

.App .SingleArticle p {
  grid-column: 1 /3;
  margin: 0;
  padding: 10px 10px 10px 10px;
  line-height: 1.5em;
}
.App .SingleArticlePage .Comments {
  margin: 5px;
  border: 3px solid var(--highlight);
  border-radius: 5px;
}

.App .SingleArticlePage .ViewToggler {
  width: 100%;
  height: 40px;
  background: var(--highlight);
  border: none;
  margin: 0;
  font-size: 1em;
  color: var(--background);
  font-weight: 700;
}

.CommentCard {
  border: 2px solid var(--highlight);
  border-radius: 10px;
  margin: 15px 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 50px 1fr;
  background: var(--background);
}
.CommentCard .Voter {
  grid-row: 1/3;
  border-bottom: 3px solid var(--highlight);
}
.CommentCard .body {
  line-height: 1.5em;
  padding: 0 15px;
  grid-column: 1 /3;
}
.CommentCard .DeleteComment {
  grid-column: 1 / 3;
  width: 100%;
  height: 40px;
  background: var(--highlight);
  border: none;
  margin: 0;
  font-size: 1em;
  color: var(--background);
  font-weight: 700;
}

.AddComment {
  border: 2px solid var(--highlight);
  border-radius: 10px;
  margin: 15px 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: unset;
}

.AddComment textarea {
  border: 2px solid var(--main);
  border-radius: 15px;
  margin: 10px 20px;
  padding: 0px 10px;
  height: 1em;
  color: var(--main);
  font-size: 1em;
  resize: none;
  height: 100px;
  padding-top: 10px;
}

.AddComment .SubmitButton {
  width: 100%;
  height: 40px;
  background: var(--highlight);
  border: none;
  margin: 0;
  font-size: 1em;
  color: var(--background);
  font-weight: 700;
}

/* topic page styles */

.TopicsPage {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
}

.TopicList {
  grid-column: 2/3;
}
.TopicCard {
  grid-column: 2;
  border: 3px solid var(--highlight);
  border-radius: 10px;
  margin: 10px 0 10px 0;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.TopicsPage h2 {
  grid-column: 2 /3;
  color: var(--main);
}

.TopicCard h2 {
  grid-column: 1;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 15px;
  color: var(--background);
  background: var(--highlight);
}

.TopicCard a {
  text-decoration: none;
}

/* ErrHandler styles */

.ErrHandler div {
  grid-column-start: 2;
}
.ErrHandler p {
  grid-column-start: 2;
}
.ErrHandler h3 {
  grid-column-start: 2;
}

.ArticlesView {
  min-height: 100%;
}

@media (min-width: 1000px) {
  /* Articles Page Styles */
  .App main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  .App main ul {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 3fr));
    grid-gap: 30px;
  }

  .ArticleCard {
    grid-column: auto;
  }

  /* single article page */

  .App main .SingleArticle {
    grid-column-start: 2;
  }
  .App main .Comments {
    grid-column-start: 2;
  }
  .App .SingleArticle h3 {
    font-family: 'Oswald';
    letter-spacing: 3px;
    font-size: 2em;
  }

  .TopicsPage h2 {
    grid-column: 2 /3;
    color: var(--main);
  }
  .App main .TopicList {
    grid-column: 2/3;
    grid-template-columns: repeat(3, minmax(300px, 3fr));
  }
  .TopicCard {
    grid-column: auto;
  }
  .TopicCard h2 {
    color: var(--background);
    font-family: 'Oswald';
    font-size: 1.75em;
    letter-spacing: 2px;
  }
}
